/* ---------------------------------- */

.container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: center;
  padding: 10px;
  background-color: #181818;
}

/* ---------------------------------- */

h1 {
  padding: 5px;
  color: white;
}

.nav__list {
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(6, 110px) 165px;
  justify-content: end;
  align-items: center;
  column-gap: 8px;
}

.nav__item {
  display: inline-block;
  align-items: center;
}

.nav__button {
  color: white;
  padding: 10px;
  border: 1px solid white;
  background-color: #4f81c2;
  border-radius: 5px;
  width: 110px;
  font-size: 14px;
}

.nav__button:hover {
  cursor: pointer;
}

.generate_array--buton {
  background-color: #A36B05;
  width: 160px;
}

