<!---->
<div class="container">
  <!---->
  <h1>Sorting visualizer</h1>
  <!---->
  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__item">
        <a href="" class="nav__link">BubbleSort</a>
      </li>
      <li class="nav__item">
        <a href="" class="nav__link">QuickSort</a>
      </li>
      <li class="nav__item">
        <a href="" class="nav__link">MergeSort</a>
      </li>
      <li class="nav__item">
        <a href="" class="nav__link">HeapSort</a>
      </li>
      <li class="nav__item">
        <a href="" class="nav__link">SelectionSort</a>
      </li>
      <li class="nav__item">
        <a href="" class="nav__link">InsertionSort</a>
      </li>
      <!---->
      <li class="nav__item">
        <a href="" class="nav__link generate_array--buton">Generate new array</a>
      </li>
      <li class="nav__item">
        <a href="" class="nav__link sort--button">Sort</a>
      </li>
    </ul>
  </nav>
</div>