<!---->
<div class="container">
  <!---->
  <h1>Sorting Visualizer</h1>
  <!---->
  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__item">
        <button class="nav__button">BubbleSort</button>
      </li>
      <li class="nav__item">
        <button class="nav__button">QuickSort</button>
      </li>
      <li class="nav__item">
        <button class="nav__button">MergeSort</button>
      </li>
      <li class="nav__item">
        <button class="nav__button">HeapSort</button>
      </li>
      <li class="nav__item">
        <button class="nav__button">SelectionSort</button>
      </li>
      <li class="nav__item">
        <button class="nav__button">InsertionSort</button>
      </li>
      <!---->
      <li class="nav__item">
        <button class="nav__button generate_array--buton">Generate new array</button>
      </li>
    </ul>
  </nav>
</div>