<div class="container">
  <!---->
  <div class="container__header">
    <!---->
    <div class="container__algorithms">
      <h3>Algorithms:</h3>
      <select
        [(ngModel)]="selectedAlgorithm"
        (change)="onAlgorithmChange($event)"
        [disabled]="this.disableSelect"
      >
        <option value="quickSort">QuickSort</option>
        <option value="mergeSort">MergeSort</option>
        <option value="insertionSort">InsertionSort</option>
        <option value="selectionSort">SelectionSort</option>
      </select>
    </div>
    <!---->
    <div class="container__options">
      <h3>Options:</h3>
      <input
        type="range"
        min="10"
        max="100"
        step="10"
        [(ngModel)]="numberOfBars"
        (input)="onBarsInputChange($event)"
        [disabled]="this.disableInputRange"
      />
      <button
        class="button button--shuffle_aray"
        (click)="onShuffleArrayBtnClick($event)"
        [disabled]="this.disableShuffleButton"
      >
        Shuffle array
      </button>
    </div>
  </div>

  <!---->
  <canvas #myCanvas></canvas>
</div>
